.sign-up {
	height: 100vh;
	background: url(/Fully-Responsive-Website/images/img-6.jpg) center center/cover no-repeat;
	color: white;
	line-height: 20vh;
	font-size: 50px;
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
}